In [6]:
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
DataFrame = pd.read_csv('./data.csv')
DataFrame.head(5)

   Height  Weight
0    1.47   52.21
1    1.50   53.12
2    1.52   54.48
3    1.55   55.84
4    1.57   57.20

In [8]:
DataFrame.describe()

          Height     Weight
count  15.000000  15.000000
mean    1.650667  62.078000
std     0.114235   7.037515
min     1.470000  52.210000
25%     1.560000  56.520000
50%     1.650000  61.290000
75%     1.740000  67.190000
max     1.830000  74.460000

In [ ]:

DataFrame.info()

In [ ]:
x = DataFrame['Height'].values
y = DataFrame['Weight'].values
x

In [ ]:
x=x.reshape(-1,1)
x

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=100)
print(f'x_train shape{x_train.shape}')
print(f'x_train shape{x_test.shape}')
print(f'y_train shape{y_train.shape}')
print(f'y_train shape{y_test.shape}')
print(y_test)

In [ ]:
%matplotlib inline
plt.scatter(x_train,y_train,color='blue')
plt.xlabel('hight')
plt.ylabel('Weight')
plt.title('human')
plt.show()

In [ ]:

lr = LinearRegression()
lr

In [ ]:

lr.fit(x_train,y_train)

In [ ]:
y_wht = lr.predict(x_test)
y_wht

In [ ]:
accu = lr.score(x_test,y_test)
print(accu*100,'accuracy')
print(round(lr.score(x_train,y_train)*100,2),'%','Train accuracy')
print(round(lr.score(x_test,y_test)*100,2),'%','Test accuracy')

In [ ]:
plt.scatter(x_train,y_train)
plt.scatter(x_test,y_test,color ='red')
plt.plot(x_test,y_wht,color = 'blue')
plt.xlabel('hight')
plt.ylabel('weight')
plt.title('human')
plt.show()